
/* 
    Created on : 27 avr. 2014, 19:29:57
    Author     : nizar
*/

body {
    background-color: aquamarine;
    background-image: url(image/plage.jpeg);
}

#elementdelalist{
    margin: 30;
    
}

#titrelogin{
    margin: 100;
    text-align: center;
    
    
}
#formlogin{
    text-align: center;
    
    
}

.navbar-inverse{
    
    margin-bottom: 50;
}

.controls{
    text-align: center;
    
}
#forminscription{
    margin-top: 100;
    text-align: center;
}